{% extends "trippin/base.html" %}
{% block content %}
<h2>Login</h2>

<body>
	<p>
		<div class="form-group">
			<form action="/users/login_user/" method="POST">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ request.GET.next }}" />
			    <input type="text" class="form-control" placeholder="Username" name="username">
			    <input type="password" class="form-control" placeholder="Password" name="password">
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		Don't have an account? <a href='/users/signup'>Sign up here.</a>
		<a href='users/password/reset/'>Forgot password</a>
	</p>
</body>
{% endblock %}